{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator By Sanat Jha</title>
</head>
<body>
    <form action="/" method="POST">{% csrf_token %}
        <input type="text" name="name">
        <input type="date" name="date">
        <button type="submit">Submit</button>
    </form>
    {% for i in works %}
    <div style="border: solid black 2px; margin-bottom: 2px;">
    {{i.Name}}
    <hr>
    {{i.Done}}
    <hr>
    {{i.Date}}
    </div>
    {% endfor %}
</body>
</html>
